<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
            <td>Ação</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of listaUsuarios$ | async">
            <td> {{row.id}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.idade}}</td>
            <td>{{row.perfil}}</td>
            <td> 
                <button class="btn btn-primary mr-2" 
                    data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" 
                    (click)="editar(row.id)"> Editar 
                </button>

                <button class="btn btn-danger m-2" 
                    (click)="excluir(row.id)"> Excluir 
                </button>
            
            </td>
        </tr>
    </tbody>

</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="(usuario$ | async) as model">
            <form id="myForm" #f="ngForm" (ngSubmit)="addUsuario()">
                <div class="col-6">
                    <label>Id</label>
                    <input id="id" name="id" [(ngModel)]="model.id" type="text" class="form-control">
                </div>
            
                <div class="col-6">
                    <label>Nome</label>
                    <input id="nome" name="nome" [(ngModel)]="model.nome" type="text" class="form-control">
                </div>
            
                <div class="col-6">
                    <label>Idade</label>
                    <input id="idade" name="idade" [(ngModel)]="model.idade" type="text" class="form-control">
                </div>
            
                <div class="col-6">
                    <label>Perfil</label>
                    <input id="perfil" name="perfil" [(ngModel)]="model.perfil" type="text" class="form-control">
                </div>
            
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>