Lista admin jeito 1

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of listaUsuarios$ | async">
            <td> {{row.id}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.idade}}</td>
            <td>{{row.perfil}}</td>
           
        </tr>
    </tbody>

</table>


Lista admin jeito 2


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of listaUsuarios2">
            <td> {{row.id}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.idade}}</td>
            <td>{{row.perfil}}</td>
           
        </tr>
    </tbody>

</table>


Lista admin jeito 3


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of listaUsuarios3">
            <td> {{row.id}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.idade}}</td>
            <td>{{row.perfil}}</td>
           
        </tr>
    </tbody>

</table>


Lista admin jeito 4


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of listaUsuarios4">
            <td> {{row.id}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.idade}}</td>
            <td>{{row.perfil}}</td>
           
        </tr>
    </tbody>

</table>


Lista admin jeito 5


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of listaUsuarios5$ | async">
            <td> {{row.id}}</td>
            <td>{{row.nome}}</td>
            <td>{{row.idade}}</td>
            <td>{{row.perfil}}</td>
           
        </tr>
    </tbody>

</table>